{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Create Event" %}{% endblock %}

{% block content %}
  <main id="page-wrapper">
    <div class="container-fluid">
      <div class="page-header d-flex">
        <div class="heading page-header-item">
          <h6 class="h6">Create Event</h6>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Create Event</li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card card-shadow p-3">
            <h6 class="h6 card-title">Event Details</h6>

            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary">{% trans "Create Event" %}</button>
              <a href="{% url 'events:event_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
            </form>

          </div>
        </div>
      </div>

      <footer class="text-center mb-4">
        © 2024 Digital Library
      </footer>
    </div>
  </main>
{% endblock %}
